@import 'foundation_and_overrides'; 
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 *= require_tree .
 */

@import url(//fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import "font-awesome";

/* RefineryCMS Customization */
header {
}
#page {
  background: rgba(255, 255, 255, .80);
  min-height:400px !important;
  padding: 2%;
  margin-top:2% !important; 
  margin-bottom:2%;
  @include grid-row();
  #body {
    @include grid-column(9);
    min-height: 70%;
  }
  .no_side_body #body {
    @include grid-column(12);
  }
  #side_body {
    @include grid-column(3);
  }
}

.top-bar {
  .title-area { z-index: 2; }
}

/* Sticky Footer */
* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
clear: both;
}

#body_content_title {
  padding-left:0.9375rem
}

footer {
  text-align: center;
}

.footer-menu {
  background: image-url("paper.png") repeat 0 0;
  padding-bottom:1%;
  padding-top:1%;
}

.footer-menu ul {
  text-align: center;
}

ul.footer-links {
  font-size: 2em;
}

.footer-menu li {
  display: inline;
  padding: .2em 1em;
}

.footer-menu p {
  text-align: center;
}